.question{
    text-align: left;    
    border-bottom: #383f50 solid 3px;
    margin-right: 100px;
}
.question:first-child{
    border-top: #38598B solid 3px;
}
.question-text{
   margin: 2%;
   color: #383f50;
}
.questionType{
    margin-top: 2%;
    margin-left:  0.8%;
}
.group{
    display:block;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left:  0.8%;
}
.btn-outline-primary{
    background-color: #38598B;
    border-color: #38598B;   
    color: #E7EAF6;
    margin-left: 40%;
}
.btn-outline-primary:hover{
    background-color:  #A2A8D3;
    border-color:  #A2A8D3;
}
input[type=checkbox]{
   border-radius: 80%;
   padding: 10px;
}
.dropdown-toggle {
    color: #383f50;
    border: solid 1px ;
    padding: 10px;
    float: right;
}
.btn:hover{
    background-color:  #2E3353;
    border-color:  #2E3353;
    color: #E7EAF6;
    box-shadow: none;
}

.dropdown-menu{
   background-color: #2E3353;
}
.dropdown-item{
    color: #E7EAF6;
}

  