.question{
    text-align: left;    
    border: #2E3353 solid 2px;
    margin-right: 100px;
    padding: 15px;
    margin-bottom: 10px;
    border-right-radius: 6%;
}


.question .question-input{
    border: none;
    border-bottom: #2E3353 3px solid;
}
.question-text{
   margin: 2%;
   color: #383f50;
}
.questionType{
    margin-top: 2%;
    margin-left:  0.8%;
}
.group{
    display:block;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left:  0.8%;
}
.btn-outline-primary{
    background-color: #2E3353;
    border-color: #2E3353;   
    color: #E7EAF6;
    margin-left: 40%;
}
.btn-outline-primary:hover{
    background-color:  #2E3353;
    border-color:  #2E3353;
}

.dropdown-toggle {
    color: #383f50;
    border: solid 1px ;
    padding: 10px;
    float: right;
}
.btn:hover{
    background-color:  #2E3353;
    border-color:  #2E3353;
    color: #E7EAF6;
    box-shadow: none;
}

.dropdown-menu{
   background-color: #2E3353;
   
}
.dropdown-item{
    color: #E7EAF6;
}


  