.question{
    text-align: left;    
    border: 3px solid #2E3353;
    border-style: groove;
    border-radius: 8px;
    box-shadow: 10px 10px 5px grey;
    margin-right: 120px;
    padding: 15px;
    margin-bottom: 20px;
}
.question-arabic{
    text-align: right;
    direction: rtl;
    border: 3px solid #2E3353;
    border-style: groove;
    border-radius: 8px;
    box-shadow: 10px 10px 5px grey;
    margin-right: 90px;
    padding: 15px;
    margin-bottom: 20px;
}
input[type=text], select {
    padding: 12px 20px;
    margin: 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 300px;
  }

.question .question-input{
    border: none;
    border-bottom: #2E3353 3px solid;
    width: 700px !important;
   
}
.question-text{
   margin: 2%;
   color: #383f50;
}
.questionType{
    margin-top: 2%;
    margin-left:  0.8%;
}
.group{
    display:block;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left:  0.8%;
}
.btn-outline-primary{
    background-color: #2E3353;
    border-color: #2E3353;   
    color: #E7EAF6;
    margin-left: 40%;
}
.btn-outline-primary:hover{
    background-color:  #2E3353;
    border-color:  #2E3353;
}

.dropdown-toggle {
    color: #383f50;
    border: solid 1px ;
    padding: 10px;
    float: right;
}
.btn:hover{
    background-color:  #2E3353;
    border-color:  #2E3353;
    color: #E7EAF6;
    box-shadow: none;
}

.dropdown-menu{
   background-color: #2E3353;
   
}
.dropdown-item{
    color: #E7EAF6;
}
.btn-success{
    background-color: #2E3353 !important;
    border-color: #2E3353 !important;
    padding: 10px;
    margin: 10px;
}
.btn-danger{
    background-color: #2E3353 !important;
    border-color: #2E3353 !important;
    padding: 10px;
}

  