body{
  background-color: #16485A;
}

.Survey {
  text-align: center;
  margin-top: 0px;
  font-size: 22px;
  width: 100%;
  height: 100%;
 
}
.Questions{
  text-align: center;
  color: #1E1E1E;
}

.ul{
  list-style-type: none;
}
.btn-danger{
   margin-right: 900px !important;
   background-color: #8470FF;
   border-color: #8470FF
}
.btn-success{
    background-color: #8470FF;
    border-color: #8470FF
}
.btn-info{
  background-color: #00C5CD;
  border-color: #00C5CD;
    
}
