.quesionPrev{
    margin-top: 40px;
    border: 2px solid black;
    border-style: groove;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    border-color: #2E3353;
    background: #CCCCCC;
    box-shadow: 10px 10px 5px grey;
}